.page {
    min-height: 100vh;
}

.mainArea {
    margin-left: 260px;
    min-height: 100vh;
}

.content {
    padding: 30px;
}

@media (max-width: 991px) {
    .mainArea {
        margin-left: 0;
    }

    .content {
        padding: 20px;
    }
}